<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1>
      <fa-icon class="angular-icon" [icon]="faAngular"></fa-icon>
      My Spotify Application
      <fa-icon class="spotify-icon" [icon]="faSpotify"></fa-icon>
    </h1>

    <p>
      Spotify application to test the API
    </p>
  </div>
</div>
