@import 'variables';

// stylelint-disable selector-max-specificity

.jumbotron {
  background-color: $secondary-black;
}

.btn {
  &-primary {
    color: white;
    background-color: $main-blue;
    border-color: $main-blue;

    &:hover {
      color: white;
      background-color: $secondary-blue;
      border-color: $secondary-blue;
    }

    &:disabled,
    &.disabled {
      opacity: .65;
    }
  }
}

.bg-light {
  background-color: $secondary-black !important;

  .navbar-brand {
    color: white;

    &:hover {
      color: white;
    }
  }

  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, .5);

      &:hover {
        color: white;
      }
    }

    .active {
      & > .nav-link {
        color: white;
        font-weight: 600;
      }
    }
  }
}
