@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables'
;

@function px-to-em($val) {
  @return $val / 16px * 1em;
}

/**
 * BREAKPOINTS
 * Bootstrap's breakpoints in `em` - https://github.com/twbs/bootstrap/blob/v4.1.1/scss/_variables.scss#L168
 * Use these variables to style the main three layouts (mobile/tablet/desktop).
 * Use your own values for more precise control (multiples of 5 or 10 are usually fine).
 */
$bp-sm: px-to-em(map-get($grid-breakpoints, sm));
$bp-sm-max: px-to-em((map-get($grid-breakpoints, sm) - 1));
$bp-md: px-to-em(map-get($grid-breakpoints, md));
$bp-md-max: px-to-em((map-get($grid-breakpoints, md) - 1));
$bp-lg: px-to-em(map-get($grid-breakpoints, lg));
$bp-lg-max: px-to-em((map-get($grid-breakpoints, lg) - 1));
$bp-xl: px-to-em(map-get($grid-breakpoints, xl));
$bp-xl-max: px-to-em((map-get($grid-breakpoints, xl) - 1));
$bp-xxl: 79.75em;

$main-black: #222;
$secondary-black: #303030;
$main-blue: #375a7f;
$secondary-blue: #2b4764;

$angular-color: #dc0032;
$spotify-color: #1ed761;
