<div class="container mt-5">
  <div class="playlists">
    <app-playlist
      *ngFor="let playlist of (playlists$ | async); trackBy:trackByPlaylist"
      [playlist]="playlist"
    ></app-playlist>
  </div>
</div>
