@import 'variables';
@import
  '~bootstrap/scss/bootstrap-reboot',
  '~bootstrap/scss/bootstrap-grid',
  '~bootstrap/scss/bootstrap'
;
@import 'bootstrap-override';
@import 'icons';

body {
  font-display: swap;
  font-family: Krub, sans-serif !important;
  font-size: .9375rem;
  font-weight: normal;
  line-height: 1.5;
  color: white;
  text-align: left;
  background-color: $main-black;
  overflow-y: scroll; // prevent layout shifts
  overflow-x: hidden;

  /* Adjust font size */
  text-size-adjust: 100%;

  /* Font varient */
  font-variant-ligatures: none;

  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
